<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <!--  useGeneratedKeys开启主键返回 keyProperty选择返回对象属性  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dish (name, category_id, price, image, description, create_time, update_time, create_user, update_user)
        VALUES (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>
</mapper>